body {
    background: rgb(109, 167, 114);
    font-family:Arial, Helvetica, sans-serif
}

.assignments{
    display: ruby;
}

.assignment {
    background: lightcoral;
    display:flex;
    padding: 10px;
    margin: 10px;
    margin-bottom: 25px;
    border-radius: 5px;
    box-shadow: 5px 10px green;
}

.assignment img {
    width: 200px;
    border: 2px solid darkblue;
    margin-right: 10px;
    border-radius: 5px;
}

h1{
    color: darkblue;
    text-align: center;
}

a{
    text-decoration:none;
    color: darkgreen;
}

.assignment a:hover {
    color:white;
}