body {
    background: lightcoral;
    font-family:Arial, Helvetica, sans-serif
}

.assignment {
    background: rgb(109, 167, 114);
    display:flex;
    padding: 10px;
    margin: 10px;
}

.assignment img {
    width: 200px;
    padding: 10px;
}

h1{
    color: darkblue;
    text-align: center;
}